<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
    <body>
        <%- include('../partials/nav') %>
        <main>
            <center>
                <h2> ADSB One Feeder Status</h2>
                <br>
                <br>
                <h3>Your IP</h3>
                <h3><%= ip %></h3>
                <br>
                <br>
                <h3>Feeder ID</h3>
                <h3><%= feedId %></h3>
                <br>
                <br>
                <h3>Feed Status</h3>
                <h3 style="<%= statusStyle %>"><%= status %></h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Avg kbit/s</td>
                            <td><%= kbits %></td>
                        </tr>
                        <tr>
                            <td>Messages/s</td>
                            <td><%= messages %></td>
                        </tr>
                        <tr>
                            <td>Positions/s</td>
                            <td><%= positions %></td>
                        </tr>
                        <tr>
                            <td>Total Positions</td>
                            <td><%= tPositions %></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </main>
    </body>
</html>